* {
    margin: 0;
    padding: 0;
  }
.board{
    display:grid;
    aspect-ratio: 1;
    margin: auto;
    height: 100vh;
    grid-template-columns: repeat(8, 12.5%); 
    grid-template-rows: repeat(8, 12.5%);
    justify-content: center;
}
.rook {
    aspect-ratio: 1;
    z-index: 1;
    height: 100%;
}
.black {
    aspect-ratio: 1;
    z-index: 3;
    background-color: #9795238c;
}
.white {
    aspect-ratio: 1;
    z-index: 3;
    background-color: #ebe712;
}